name: Comment

on:
  pull_request:

permissions:
  pull-requests: write

jobs:
  comment:
    runs-on: ubuntu-24.04
    steps:
      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            Making a comment
